/*text standards*/
.biggen{
    background-color: #E7E7D5;
    max-width: 100%;
}

.gen {
    background-color: #E7E7D5;
    color: #23356D;
    font-family: dupincel-variable,serif;
    line-height: 1.35;
    margin: auto;
    max-width: 1000px;
    /* TEMP: change when more text is added */
    min-height: 200vh;
}

.finale {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
    padding-top: 20px;
    height: 100vh;
    max-width: 1439px;
    position: relative;
    left: 0;
}

.finale-content{
    width: 1430px;
    padding-left: 10px;
}

details{
    padding-left: 10px;
}

details summary {
    list-style: none;
  }
  
details summary::before {
    content: '\25B6'; 
    /* display: inline-block; */
    font-size: 12px;
    margin-right: 5px;
    margin-left: -10px;
}

details.active summary::before {
    content: '\25BC';
    /* display: inline-block; */
    font-size: 12px;
  }
  

h4 {
    font-size: xx-large;
    font-style: italic;
}
    
h3 {
    font-size: large;
    font-style: italic;
    text-align: left;
}
    
.h3-2 {
    margin-top: -2px;
    text-align: center;
}
  
.h3-3 {
      margin-top: -2px;
      text-align: right;
}
    
h2 {
    font-size: x-large;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}
    
i {
    font-style: italic;
}
    
.bigi {
    font-size: x-large;
    font-style: italic;
}
    
.subscript {
    font-size: smaller;
    font-style: italic; 
    text-align: center;
}

.fixed {
    padding-top: 100px;
    margin-bottom: -30px;
}
  
.subscript2 {
      font-size: smaller;
      font-style: italic;
      text-align: center;
      margin-top: -40px;
}
    
.line {
    border-top: 1.5px solid #000;
    margin-top: 20px;
    margin-bottom: 20px;
    z-index: -10;
}

.line2 {
    border-top: 1.5px solid #9A9A9A;
    margin-top: 20px;
    margin-bottom: 20px;
}

.b {
    font-weight: bold;
}
    
/*top left navigation*/
nav {
    margin: auto;
}
    
span {
    display: block;
}
  
div::after {
    float: right;
    right: 10%;
}
  
.slide {
    clear: none;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: height .75s ease-in-out;
}
    
.slide ul {padding : 10px;}
#touch {position: relative; opacity: 0%; height: 0px;}    
#touch:checked + .slide {height: 320px;} 
    
.PM-droplogo{
    max-width: 15%;
    text-align: right;
    cursor: pointer; 
}
  
.dropdown {
    position: relative;
    display: inherit;
    text-align: right;
    font-size: medium;
}
    
ul.nav-links{
    color: #23356D;
}
    
ul.nav-links a:hover{
    font-style: italic;
}
    
.present{
    color: #9D141F;
}
    
/*PM logo*/
.PM-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.PM-logo {
    margin-top: -40px;
    max-inline-size: 30%
}

/* print gallery */
.print-gallery{
    display: block;
}

#print-1 {
    display: none;
    position: relative;
    width: 10%;
    top: 30px;
    left: 35px;
    animation: reveal 3s forwards;
    animation-delay: 1s;
    opacity: 0;
    z-index: 1;
}

#print-2 {
    display: none;
    position: relative;
    width: 15%;
    top: -300px;
    left: 800px;
    animation: reveal 3s forwards;
    animation-delay: .7s;
    opacity: 0;
}

#print-3 {
    display: none;
    position: relative;
    width: 13%;
    top: -660px;
    left: 950px;
    animation: reveal 3s forwards;
    animation-delay: .3s;
    opacity: 0;
}

#print-4{
    display: flex;
    position: relative;
    width: 10%;
    top: -570px;
    left: 400px;
    animation: reveal 3s forwards;
    animation-delay: .5s;
    opacity: 0;
    z-index: 1;
}

#print-5 {
    display: flex;
    position: relative;
    width: 15%;
    top: -1000px;
    left: 300px;
    animation: reveal 3s forwards;
    animation-delay: .5s;
    opacity: 0;
}

#print-6 {
    display: flex;
    position: relative;
    width: 10%;
    transform: rotate(90deg);
    top: -950px;
    left: 100px;
    animation: reveal 3s forwards;
    animation-delay: 1s;
    opacity: 0;
}

#print-7 {
    display: flex;
    position: relative;
    width: 15%;
    top: -1400px;
    left: 1200px;
    animation: reveal 3s forwards;
    animation-delay: 1.2s;
    opacity: 0;
}

#print-8 {
    display: flex;
    position: relative;
    width: 10%;
    top: -1490px;
    left: 860px;
    animation: reveal 3s forwards;
    animation-delay: .6s;
    opacity: 0;

}

#print-9 {
    display: flex;
    position: relative;
    width: 15%;
    top: -2250px;
    left: 1300px;
    animation: reveal 3s forwards;
    animation-delay: 1s;
    opacity: 0;
}

#ant {
    display: flex;
    position: relative;
    width: 10%;
    top: -1700px;
    left: 60px;
    animation: reveal 3s forwards;
    animation-delay: 2s;
    opacity: 0;
}

#dogs {
    display: flex;
    position: relative;
    width: 15%;
    top: -1750px;
    left: 1250px;
    animation: reveal 3s forwards;
    animation-delay: 2.3s;
    opacity: 0;
}

#bunny {
    display: flex;
    position: relative;
    width: 12%;
    top: -2150px;
    left: 290px;
    animation: reveal 3s forwards;
    animation-delay: 1.8s;
    opacity: 0;
}

@keyframes reveal {
    0% {
       opacity: 0;
    }
    100% {
       opacity: 1;
    }
}

#w-1 {
    display: flex;
    position: relative;
    width: 50%;
    left: -60px;
    top: 20px;
}

#w-2 {
    display: flex;
    position: relative;
    width: 45%;
    left: 620px;
    top: -20px;
}

#w-3 {
    display: flex;
    position: relative;
    width: 40%;
    left: 150px;
    top: -300px;
}

.scoot {
    display: flex;
    position: relative;
    top: -940px;
    left: 550px;
}

.scoot-2 {
    display: flex;
    position: relative;
    top: -730px;
    left: 50px;
}

.scoot-21 {
    display: block;
    position: relative;
    top: -290px;
}
