/*text standards*/
body{
  background-color: #E7E7D5;
  color: #23356D;
  font-family: dupincel-variable,serif;
  line-height: 1.35;
  margin: auto;
  max-width: 1000px;
}

h4{
  font-size: xx-large;
  font-style: italic;
}

h3{
  font-size: large;
  font-style: italic;
  text-align: left;
  margin-top: -23px;
}

.h3-2{
  margin-top: 10px;
  text-align: right;
}

h2{
  font-size: x-large;
  font-style: normal;
  color: #9D141F;
  text-align: center;
  margin: 20px;
}

i{
  font-style: italic;
}

.bigi{
  font-size: x-large;
  font-style: italic;
}

.subscript{
  font-size: smaller;
  font-style: italic;
  text-align: center;
}

.line{
  border-top: 1.5px solid #000;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*top left navigation*/
nav {
  margin: auto;
}

span {
  display: block;
}
div::after {
  float: right;
  right: 10%;
}
.slide {
  clear: none;
  width: 100%;
  height: 0px;
  overflow: hidden;
  transition: height .75s ease-in-out;
}

.slide ul {padding : 10px;}
#touch {position: absolute; opacity: 0%; height: 0px;}    
#touch:checked + .slide {height: 160px;} 

.PM-droplogo{
  max-width: 15%;
  text-align: right;
  cursor: pointer; 
}
.dropdown {
  position: relative;
  display: inherit;
  text-align: right;
  font-size: medium;
}

ul.nav-links{
  color: #23356D;
}

ul.nav-links a:hover{
  font-style: italic;
}

.present{
  color: #9D141F;
}

/*PM logo*/
.PM-container {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
.PM-logo {
  margin-top: -40px;
  margin-bottom: -25px;
  max-inline-size: 30%
}

/* story book */
* {box-sizing:border-box}

.slideshow-container {
  max-width: 900px;
  position: relative;
  margin: auto;
}

.Containers {
  display:inline-block;
  border: 1.5px solid #000;
  padding: 10px;
}

.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  font-weight: bold;
  font-size:large;
  transition: 0.5s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

.Back:hover, .forward:hover {
  background-color: #23356D;
  opacity: 50%;
}
.Info {
  color: #23356D;
  font-size:x-large;
  padding-top: 10px;
  bottom: 1px;
  width: 100%;
  text-align: center;
}

.MessageInfo {
  color: #23356D;
  font-size: 14px;
  padding-top: 25px;
  padding-bottom: 5px;
  position: absolute;
  top: 0;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 5s;
  animation-name: fade;
  animation-duration: 5s;
}
  
@-webkit-keyframes fade {
  from {opacity: .5}
  to {opacity: 5}
}
  
@keyframes fade {
  from {opacity: .5}
  to {opacity: 5}
}

/* gen. image adjustments */
.images img {
  width: 10%;
  height: 10%;
  float: left;
}

.center-align-image{
  text-align:center;
}

/* popup management */
.popup-container {
  position: relative;
  display: inline-block;
}

.popup-trigger {
  text-decoration: underline;
  text-decoration-color: #000000;
  cursor: pointer;
  display: inline-block;
}
.popup-content {
  display: none;
  position: absolute;
  background-color: #9D141F;
  color: #E7E7D5; 
  box-shadow: 0 1px 3px rgba(123, 123, 123, 0.2);
  padding: 5px;
  z-index: 1;
  font-size: medium;
  font-style: normal;
  min-width: 30px;

}
.popup-container:hover .popup-content {
  display: inline-block;
}
.popup-content {
  top: 100%;
  left: 20%;
}

/* typographic color exercise */
.page-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.word-container{
  position: relative;
  border: 1.5px solid #000;
  padding: 10px;
  max-width: 900px;
}

.ul2 {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

li {
  margin: 25px;
}

.word-container:hover ul li {
  margin: -10px;
  transition: margin 0.8s;
}

/* continue */
.next {
  text-align: right;
  font-size: small;
}

#nextId {
  color: #23356D;
}

#nextId:hover {
  color: #9D141F;
}

/* footer */
footer {
	font-size: smaller;
	text-align: center;
	color: #23356D;
	padding-top: 10px;
}

.footer-link:hover{
  font-style: italic;
  color: #9D141F;
}

.next{
	color: #9D141F;
}

.next:hover{
	font-style: italic;
	color: #9D141F;
}