/*text standards*/
body{
    background-color: #E7E7D5;
    color: #23356D;
    font-family: dupincel-variable,serif;
    line-height: 1.35;
    margin: auto;
    max-width: 1000px;
}

h4{
    font-size: xx-large;
    font-style: italic;
}
    
h3{
    font-size: large;
    font-style: italic;
    text-align: left;
}
    
.h3-2{
    margin-top: -20px;
    text-align: center;
}
    
h2{
    font-size: x-large;
    font-style: normal;
    color: #9D141F;
    text-align: center;
    margin: 20px;
}
    
i{
    font-style: italic;
}
    
.bigi{
    font-size: x-large;
    font-style: italic;
}
    
.subscript{
    font-size: smaller;
    font-style: italic; 
    text-align: center;
}
  
.subscript2{
      font-size: smaller;
      font-style: italic;
      text-align: center;
      margin-top: -40px;
}

.subscript-3 {
    padding: 30px;
    font-size: smaller;
    font-style: italic; 
    text-align: center;
}
    
.line{
    border-top: 1.5px solid #000;
    margin-top: 20px;
    margin-bottom: 20px;
}
    
/*top left navigation*/
nav {
    margin: auto;
}
    
span {
    display: block;
}
  
div::after {
    float: right;
    right: 10%;
}
  
.slide {
    clear: none;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: height .75s ease-in-out;
}
    
.slide ul {padding : 10px;}
#touch {position: absolute; opacity: 0%; height: 0px;}    
#touch:checked + .slide {height: 290px;} 
    
.PM-droplogo{
    max-width: 15%;
    text-align: right;
    cursor: pointer; 
}
  
.dropdown {
    position: relative;
    display: inherit;
    text-align: right;
    font-size: medium;
}
    
ul.nav-links{
    color: #23356D;
}
    
ul.nav-links a:hover{
    font-style: italic;
}
    
.present{
    color: #9D141F;
}
    
/*PM logo*/
.PM-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.PM-logo {
    margin-top: -40px;
    margin-bottom: -25px;
    max-inline-size: 30%
}

/* text animtion */
.my-span {
    text-align: right;
    color: #9D141F;
}

@keyframes grow {
	0% {
		font-size: initial;
	}

	100% {
		font-size: xx-large;
	}
}

.grow {
	animation-name: grow;
	animation-duration: 3s;
	animation-fill-mode: forwards;
    font-style: italic;
}

#theatre {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in;
    width: 30%;
    margin-left: -40px;
    margin-top: 50px;
}

#will {
    display: none;
    opacity: 0;
    transition: opacity 1.5s ease-in;
    width: 20%;
    z-index: -10;
    margin-left: 500px;
    margin-top: -70px;
}

#title {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in;
    width: 20%;
    z-index: -10;
    margin-top: -300px;
    margin-left: 150px;
}

#quill {
    display: none;
    opacity: 0;
    transition: opacity, 2s ease-in;
    width: 20%;
    margin-left: 450px;
    margin-top: -300px;
}

#tempest {
    display: none;
    opacity: 0;
    transition: opacity, 1.4s ease-in;
    width: 35%;
    margin-left: 760px;
    margin-top: -90px;
}

#theatre2 {
    display: none;
    opacity: 0;
    transition: opacity, 2.4s ease-in;
    width: 25%;
    z-index: -10;
    margin-left: 600px;
    margin-top: -100px;
}

.revealed {
    display: none;
    opacity: 0;
    transition: opacity 2.6s ease-in;
    z-index: 10;
}

.revealed2 {
    display: none;
    opacity: 0;
    transition: opacity 3s ease-in;
    margin-top: -50px;
}

.h3-3{
    font-style: normal;
    font-size: x-large;
    display: none;
    opacity: 0;
    transition: opacity 2.6s ease-in;
    width: 550px;
    top: -170px;
    z-index: 10;
}

/* shakes pic */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#shakes-1 {
    display: block;
    width: 60%;
    justify-content: center;
}

#shakes-2 {
    display: block;
    width: 60%;
    justify-content: center;
}

/* continue */
.next {
    text-align: right;
    font-size: small;
  }
  
#nextId {
    color: #23356D;
}
  
#nextId:hover {
    color: #9D141F;
    font-style: italic;
}

/* footer */
footer {
	font-size: smaller;
	text-align: center;
	color: #23356D;
	padding-top: 75px;
    position: relative;
    display: flex;
    flex-direction: column;
    bottom: 10px;
    margin-top: auto;
}

.footer-link:hover{
  font-style: italic;
  color: #9D141F;
}

/* script section */
.playscript {
    font-family: divenire-mono, serif;
    font-weight: 400;
    font-style: normal;
    color: #9D141F;
    text-align: center;
    max-width: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    left: 250px;
    line-height: 30px;
}