/*text standards*/
body {
    background-color: #e7e7d5;
    color: #23356d;
    font-family: dupincel-variable, serif;
    line-height: 1.35;
    margin: auto;
    max-width: 1000px;
    height: 1500px;
}

h1 {
    font-size: 12ch;
    padding-top: 40vh;
    text-align: center;
}

h4 {
    font-size: xx-large;
    font-style: italic;
}

h3 {
    font-size: large;
}

.h3-2 {
    padding-bottom: 10px;
}

h2 {
    font-size: x-large;
    font-style: normal;
    text-align: center;
}

i {
    font-style: italic;
}

.subscript {
    font-size: smaller;
    font-style: italic;
    text-align: center;
}

.subscript2 {
    font-size: smaller;
    font-style: italic;
    text-align: center;
    margin-top: -40px;
}

.line {
    border-top: 1.5px solid #000;
    margin-top: 20px;
    margin-bottom: 20px;
}

.big-container {
    display: block;
    align-items: center;
    justify-content: center;
}

/* intro click reveal */
.header-click:hover {
    font-style: italic;
    cursor: pointer;
}

.header-click {
    transition: transform 2s ease-in-out;
}

.click-1 {
    opacity: 0;
    transition: opacity 1s;
    transition-delay: 1s;
}

#myCanvas {
    /* background-color: aliceblue; ... to make changes */
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
}

/* reveal */
.reveal {
    width: 160px;
    padding-top: 20px;
    cursor: pointer;
    transition: opacity 1s;
    transition-delay: 2.5s;
}

.reveal-hidden {
    opacity: 0;
}

.reveal.smooth {
    opacity: 1;
}

.print-point-image {
    opacity: 0;
}

.slip {
    overflow: hidden;
}


/* intro-text */
.intro-text {
    display: block;
    padding-top: 80px;
    padding-bottom: 50px;
}

/* gallery */
#image-1 {
    display: flex;
    z-index: 100;
}

/* #tester {
    width: 50vw;
    height: fit-content;
    margin-left: 150px;
    margin-top: 30px;
} */

.paper {
    display: flex;
    width: 50vw;
    height: fit-content;
    margin-left: 150px;
    margin-top: 30px;
}

.paper2 {
    display: flex;
    width: 50vw;
    height: fit-content;
    margin-left: 150px;
    margin-top: 30px;
}

.gallery-title {
    text-align: center;
    z-index: -100;
    padding-top: 20px;
    /* padding-left: 300px; */
}

.gallery-text {
    text-align: left;
    margin-top: -20px;
    padding-bottom: 50px;
}

.gallery-2 {
    text-align: left;
    padding-top: 30px;
}

.paper3 {
    display: flex;
    width: 50vw;
    height: fit-content;
    margin-left: 150px;
    margin-top: 30px; 
}

/* footer */
footer {
	font-size: smaller;
	text-align: center;
	color: #23356D;
	padding-top: 75px;
    position: relative;
    display: flex;
    flex-direction: column;
    bottom: 10px;
    margin-top: auto;

}

.footer-link:hover{
  font-style: italic;
  color: #9D141F;
}