/*text standards*/
body{
    background-color: #E7E7D5;
    color: #23356D;
    font-family: dupincel-variable,serif;
    line-height: 1.35;
    margin: auto;
    max-width: 1000px;
}

h4{
    font-size: xx-large;
    font-style: italic;
}
    
h3{
    font-size: large;
    font-style: italic;
    text-align: left;
}
    
.h3-2{
    margin-top: -2px;
    text-align: center;
}
  
.h3-3{
      margin-top: -2px;
      text-align: right;
}
    
h2{
    font-size: x-large;
    font-style: normal;
    color: #9D141F;
    text-align: center;
    margin: 20px;
}
    
i{
    font-style: italic;
}
    
.bigi{
    font-size: x-large;
    font-style: italic;
}
    
.subscript{
    font-size: smaller;
    font-style: italic; 
    text-align: center;
}
  
.subscript2{
      font-size: smaller;
      font-style: italic;
      text-align: center;
      margin-top: -40px;
}
    
.line{
    border-top: 1.5px solid #000;
    margin-top: 20px;
    margin-bottom: 20px;
}
    
/*top left navigation*/
nav {
    margin: auto;
}
    
span {
    display: block;
}
  
div::after {
    float: right;
    right: 10%;
}
  
.slide {
    clear: none;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: height .5s ease-in-out;
}
    
.slide ul {padding : 10px;}
#touch {position: absolute; opacity: 0%; height: 0px;}    
#touch:checked + .slide {height: 250px;} 
    
.PM-droplogo{
    max-width: 15%;
    text-align: right;
    cursor: pointer; 
}
  
.dropdown {
    position: relative;
    display: inherit;
    text-align: right;
    font-size: medium;
}
    
ul.nav-links{
    color: #23356D;
}
    
ul.nav-links a:hover{
    font-style: italic;
}
    
.present{
    color: #9D141F;
}
    
/*PM logo*/
.PM-container {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.PM-logo {
    margin-top: -40px;
    margin-bottom: -25px;
    max-inline-size: 30%
}

/* summary */
.cont-1 {
    display: flex;
    margin-top: 10px;
    margin-left: -70px;
    height: 10vh;
  }

.cont-2 {
    display: flex;
    /* margin-top: 30px; */
    margin-left: 120px;
    height: 10vh;
    position: relative;
}

.cont-3 {
    display: flex;
    margin-left: 380px;
    margin-top: -100px;
    height: 30vh;
    position: relative;
}

.cont-4 {
    display: flex;
    margin-left: 660px;
    margin-top: -250px;
    height: 30vh;
    position: relative;
}

.cont-5 {
    display: flex;
    margin-left: 930px;
    margin-top: -200px;
    height: 30vh;
    width: 50px;
    position: relative;

}
  
.text {
    font-size: x-large;
    position: relative;
    cursor: pointer;
    transition: font-size 0.5s;
    width: 250px;
}
  
.rev {
    top: 100%;
    left: 0;
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    font-style: normal;
    font-size: large;
}
  
.text:hover {
    font-size: 30px;
    font-style: italic;
}
  
.text:hover .rev {
    display: block;
    animation: ease-in-out;
}

/* summary image reveals */
.hidden-image {
    display: flex;
    width: 60%;
    z-index: 1;
}

.hidden-image-m1 {
    display: flex;
    width: 50%;
    margin-top: -200px;
    margin-left: 75px;
}

.hidden-image-m2 {
    display: flex;
    width: 40%;
    margin-top: -20px;
    margin-left: -30px;
}

.hidden-image-m3 {
    display: flex;
    width: 50%;
    margin-top: -100px;
    margin-left: 60px;
    transform: rotate(10deg);
}

.hidden-image-m4 {
    display: flex;
    width: 80%;
}

.hidden-image-m5 {
    display: flex;
    width: 50%;
    margin-top: -175px;
    margin-left: 80px;
    transform: rotate(-10deg);
}

.hidden-image-m6 {
    display: flex;
    width: 50%;
    margin-top: -50px;
    margin-left: 100px;
}

.hidden-image-m7 {
    display: flex;
    width: 50%;
    margin-top: -20px;
    transform: rotate(15deg);
}

.hidden-image-m8 {
    display: flex;
    width: 70%;
}

.imgcontainer {
    display: none; 
}

.imgcontainer.show {
    display: block;
}

/* resume text */
.giant-div {
    display: block;
    position: absolute;
}
.resumed {
    /* display: flex; */
    position: relative;
    height: 50vh;
    top: 475px;
}

/* wyatt */
.wyatt {
    display: flex;
    position: absolute;
}
.wyatt-1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
    z-index: -1;
}

.wyatt-2 {
    display: flex;
    width: 30%;
    height: 30%;
    left: 200px;
    margin-top: -600px;
    z-index: 1;
}

.wyatt-3 {
    display: flex;
    width: 20%;
    height: 20%;
    margin-left: 500px;
    margin-top: 75px;
    z-index: 1;
}

.wyatt-4 {
    
}