body {
    background-color: #E7E7D5;
    color: #23356D;
    font-family: dupincel-variable,serif;
    line-height: 1.35;
    max-height: 500px;
}

h3 {
    font-size: x-large;
}

h4 {
    font-size: large;
}

.bigi {
    font-style: italic;
}

.center {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
}

/* reveals */
.hov-div {
    position: relative;
    display: flex;
    width: 500px;
    height: 100px;
    margin-left: 120px;
    margin-top: 150px;
}

.hov-reveal {
    opacity: 0; 
    transition: opacity 1s ease;
    position: absolute;
}

.hov-div.show-text .hov-reveal {
    opacity: 1;
}

.hov-div2 {
    position: relative;
    display: flex;
    width: 310px;
    height: 100px;
    margin-top: -150px;
    left: 950px;
    z-index: 10;
}

.hov-reveal2 {
    opacity: 0; 
    position: absolute;
    transition: opacity 1s ease;
}

.hov-div2.show-text .hov-reveal2 {
    opacity: 1;
}

.hov-div3 {
    position: relative;
    width: 350px;
    height: 100px;
    left: 600px;
    top: 200px;
}

.hov-reveal3 {
    opacity: 0;
    transition: opacity 1s ease;
}

.hov-div3.show-text .hov-reveal3 {
    opacity: 1;
}

.hov-div4 {
    position: relative;
    width: 600px;
    height: 100px;
    left: 770px;
    top: 200px;
}

.hov-reveal4 {
    opacity: 0;
    transition: opacity 1s ease;
}

.hov-div4.show-text .hov-reveal4 {
    opacity: 1;
}

.hov-div5 {
    position: relative;
    width: 15%;
    height: 15%;
    left: 75px; 
    margin-top: 10px;
}

.hov-reveal5 {
    opacity: 0;
    transition: opacity 1s ease;
}

.hov-div5.show-text .hov-reveal5 {
    opacity: 1;
}

/* instructions */
.inst-container {
    display: flex;
    position: absolute;
    top: 355px;
    left: 575px;
    z-index: 10;
}

.inst {
    animation: reveal 3.5s forwards;
    opacity: 0;
    animation-delay: .3s;
}

@keyframes reveal {
    0% {
       opacity: 0;
    }
    50% {
       opacity: 1;
    }
    100% {
        opactiy: 0;
    }
}

/* continue */
.next {
    font-style: italic;
    text-align: right;
    display: flex;
    position: absolute;
    left: 1300px;
    top: 650px;
  }

#final-reveal {
    display: none;
    transition: 1s ease;
}

.fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out; /* Adjust the duration and timing function as needed */
  }
  
  .fade-in.show {
    opacity: 1;
  }