/*text standards*/
body {
    background-color: #E7E7D5;
    color: #23356D;
    font-family: dupincel-variable, serif;
    line-height: 1.35;
    margin: auto;
    max-width: 1000px;
}

h5 {
    font-size: x-large;
    font-style: italic;
    text-align: left;
    padding-top: 8px;
    padding-bottom: 12px;
    white-space: trim;
}

h4 {
    font-size: xx-large;
    text-align: center;
}

h3 {
    font-size: large;
    font-style: italic;
    margin-top: -5px;
    margin-bottom: -10px;
    text-align: right;
}

i {
    font-style: italic;
}

.bigi {
    font-size: xx-large;
    font-style: italic;
}

.subscript {
    font-size: smaller;
    font-style: italic;
}

.subscript2 {
    font-size: small;
    text-align: center;
}

.subscript2B {
    font-size: small;
    text-align: center;
    margin-top: -80px;
    padding-bottom: 50px;
}

.line {
    border-top: 1.5px solid #000;
    padding-bottom: 30px;
    margin-top: 20px;
}

/*top left navigation*/
nav {
    margin: auto;
}

span {
    display: block;
}

div::after {
    float: right;
    right: 10%;
}

.slide {
    clear: none;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: height .75s ease-in-out;
}

.slide ul {
    padding: 10px;
}

#touch {
    position: absolute;
    opacity: 0%;
    height: 0px;
}

#touch:checked+.slide {
    height: 140px;
}

.PM-droplogo {
    max-width: 15%;
    text-align: right;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: block;
    text-align: right;
    font-size: medium;
}

ul.nav-links {
    color: #23356D;
}

ul.nav-links a:hover {
    font-style: italic;
}

.present {
    color: #9D141F;
}

/*PM logo*/
.PM-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -110px;
}

.logo {
    max-width: 30%
}

/* text animation */
@keyframes grow {
    0% {
        font-size: initial;
    }

    100% {
        font-size: 80px;
    }
}

.grow {
    animation-name: grow;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

#scroll-container {
    border: 3px solid #E7E7D5;
    border-radius: 0%;
    height: 20px;
    overflow-x: auto;
    overflow-y: auto;
}

#scroll-text {
    height: auto;
    text-align: left;
    -moz-transform: translateY(50%);
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    -moz-animation: my-animation 3s linear infinite;
    -webkit-animation: my-animation 3s linear infinite;
    animation: my-animation 3s linear infinite;
}

@-webkit-keyframes my-animation {
    from {
        -webkit-transform: translateY(50%);
    }

    to {
        -webkit-transform: translateY(-50%);
    }
}

@keyframes my-animation {
    from {
        -moz-transform: translateY(50%);
        -webkit-transform: translateY(50%);
        transform: translateY(50%);
    }

    to {
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}

h1 {
    font-size: smaller;
    transition: font-size 0.2s ease-in-out;
}

input[type="range"] {
    width: 80%;
    margin-left: 70px;
    background-color: #000000;
    height: 1.5px;
    appearance: none;
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    background-color: #C22D2D;
    width: 10px;
    height: 10px;
    appearance: none;
    border: 1px solid #C22D2D;
    border-radius: 50%;
}

/* image adjustments */
.painting {
    width: 70%;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.image-3 {
    display: flex;
    width: 50%;
    margin-right: -200px;
}

.context {
    display: flex;
    font-size: x-large;
    font-style: italic;
    color: #9D141F;
    margin-left: 250px;
    z-index: 1;
    padding-bottom: 40px;

}

/* popup management */
.popup-container {
    position: relative;
    display: inline-block;
}

.popup-trigger {
    text-decoration: underline;
    text-decoration-color: #000000;
    cursor: pointer;
    display: inline-block;
}

.popup-content {
    display: none;
    position: absolute;
    background-color: #9D141F;
    color: #E7E7D5;
    box-shadow: 0 1px 3px rgba(123, 123, 123, 0.2);
    padding: 5px;
    z-index: 1;
    font-size: medium;
    font-style: normal;
    min-width: 30px;

}

.popup-container:hover .popup-content {
    display: inline-block;
}

.popup-content {
    top: 100%;
    left: 20%;
}

/* continue */
.next {
    text-align: right;
	font-size: small;
}

#nextId {
	color: #23356D;
}

#nextId:hover {
	color: #9D141F;
}

/* footer */
footer {
    font-size: smaller;
    text-align: center;
    color: #23356D;
    padding-top: 10px;
}

.footer-link:hover {
    font-style: italic;
    color: #9D141F;
}

.next {
    color: #9D141F;
}

.next:hover {
    font-style: italic;
    color: #9D141F;
}