body{
    background-color:#E7E7D5;
    white-space: trim;
    margin:auto;
    max-width: 1000px;
}

p{
    color: #23356D;
    font-family: dupincel-variable, sans-serif;
    font-style: normal;
    font-variation-settings: "opsz" 24, "wght" 400;
    font-size: normal;
    padding-top: 5 px;
    padding-bottom: 5 px;
}
      div{
        color: #23356D;
        font-family: dupincel-variable, sans-serif;
        font-style: normal;
        font-variation-settings: "opsz" 24, "wght" 400;
        font-size: normal;
      }
      h5{
        color: #23356D;
        font-family: dupincel-variable, sans-serif;
        font-size: x-large;
        text-align: center;
        white-space: trim;
        padding-top: 8px;
        padding-bottom: 12px;
      }
      h4{
        color:#23356D;
        font-family:dupincel-variable, sans-serif;
        font-size:xx-large;
        white-space:trim;
        font-style:normal;
      }
      h3{
        color:#23356D;
        font-family:dupincel-variable, sans-serif;
        font-size:large;
        font-style:italic;
        padding-top: 8px;
        padding-bottom: 8px;
      }
      .subscript{
        color:#23356D;
        font-family:dupincel-variable, sans-serif;
        font-size:small;
        font-style:italic;
      }
      .subscript2{
        color:#23356D;
        font-family:dupincel-variable, sans-serif;
        font-size:small;
        font-style:normal;
        text-align:center;
      }
      i {
        color:#23356D;
        font-family:dupincel-variable, sans-serif;
        font-size:medium;
        font-style:italic;
      }

.line {
    border-top: 1.5px solid black;
}
        .breadcrumbs{
        padding-top: 15px;
        text-align: right;
        color:#23356D;
        font-family:dupincel-variable, sans-serif;
        font-size:medium;
        }
        .breadcrumbs-item {
          color:#23356D;
        }
        .breadcrumbs-item1 {
        text-align:left;
        font-style:normal;
        }
        .breadcrumbs-item:not(:last-of-type) ::after {            
          color:#23356D; 
          white-space: pre;
        }
        .breadcrumbs-link {
            color:#23356D;
        }
        .breadcrumbs-link:hover{
            text-decoration:line-through;
        }
        .breadcrumbs-link-active{
          color:#C22D2D;
          font-weight: 500;
        }
        .breadcrumbs-link-active:hover{
          text-decoration:line-through;
        }

.thanks {
  font-style: italic;
  font-size: large;
  padding-bottom: 8px;
  }

  @keyframes grow {
    0% {
      font-size: initial;
    }
    
    100% {
      font-size: 60px;
    }
  }
  
  .grow {
    animation-name: grow;
    animation-duration: 3s;
    animation-fill-mode: forwards;
  }

#scroll-container{
  border:3px solid #E7E7D5;
  border-radius:0%;
  height:20px;
  overflow-x:auto;
  overflow-y:auto;
}
  #scroll-text{
    height:auto;
    text-align:left;
    -moz-transform: translateY(50%);
    -webkit-transform:translateY(50%);
    transform: translateY(50%);
    -moz-animation: my-animation 3s linear infinite;
    -webkit-animation: my-animation 3s linear infinite;
    animation: my-animation 3s linear infinite;
    }
    
    @-webkit-keyframes my-animation {
      from {-webkit-transform: translateY(50%);}
      to {-webkit-transform: translateY(-50%);}
    }
    @keyframes my-animation {
      from {
      -moz-transform: translateY(50%);
      -webkit-transform: translateY(50%);
      transform: translateY(50%);
      }
      to {
      -moz-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      }
    }

    .marqueelrc{
      padding-inline-end: 35px;
    }
      
footer{
  font-size:smaller;
  font-style: italic;
  text-align: center;
  color:#23356D; 
  padding-top: 10px;
}